/* Theme colors */
:root {
  --blue: rgba(56, 94, 157, 1);
  --green: rgba(0, 179, 136, 1);
  --red: rgba(225, 82, 61, 1);
  --green2: rgba(23, 203, 137, 1);
  --blue2: rgba(47, 63, 153, 1);
  --grey: rgba(232, 232, 232, 1);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#sign_in {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#log_in {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  margin: auto;
  margin-top: 100px;
  margin-bottom: 20px;
  padding-top: 60px;
  width: 416px;
  height: 620px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 1px 1px 9px -1px rgba(0, 0, 0, 0.23);
}

.card button {
  width: 185px;
  height: 96px;
  top: 550px;
  left: 772px;
  border-radius: 10px;
  border: none;
  background: rgba(255, 255, 255, 1);
  box-shadow: 1px 1px 9.199999809265137px -1px rgba(0, 0, 0, 0.25);
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  margin: 20px;
}

#login_btn {
  background-color: var(--green);
  width: Fixed (236px);
  height: 43px;
  top: 652px;
  left: 747px;
  padding: 12px, 24px, 12px, 24px;
  border-radius: 10px;
  gap: 10px;
  color: white;
}

.email-password input {
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  padding: 8px 0;
  width: 100%;
  margin-bottom: 30px;
  font-size: 16px;
}

.Power {
  color: rgba(0, 0, 0, 0.62);
  text-align: left;
  font-family: 'Raleway-Regular', sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: relative;
}

.Stat {
  padding-bottom: 20px;
}

.PSign {
  padding-bottom: 20px;
}

.navbar {
  display: flex;
  padding-top: 34px;
  flex-direction: column;
  align-items: center;
  width: 256px;
  height: 100vh;
  background: rgba(0, 179, 136, 1);
  position: fixed;
  top: 0;
  left: 0;
}

.navbar img {
  width: 141px;
  height: 70px;
  position: absolute;
  bottom: 28px;
  margin-right: 50px;
}

.navbar hr {
  width: calc(100% - 40px);
  margin-left: 40px;
  margin-right: 40px;
  position: absolute;
  bottom: 120px;
}

.main-content {
  padding-top: 30px;
  padding-left: 50px;
  height: 100vh;
  margin-left: 256px;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-size: 21px;
  font-weight: 700;
  margin-bottom: 30px;
}

.header {
  background-color: var(--grey);
  height: 6vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  padding-left: 2%;
  padding-right: 2%;
}

.header-logo {
  object-fit: cover;
  margin: 3px;
}

.sign-out {
  background-color: var(--green);
  color: white;
  border-radius: 10px;
  font-weight: bold;
  border: none;
  margin: 5px 0 5px 0;
  padding: 0 10px 0 10px;
  gap: 10px;
}